<div class="technologies-container">
  <button mat-fab class="add-item-btn" (click)="addTechnology()"
          matTooltip="Add New Technology">
    <mat-icon>add</mat-icon>
  </button>
  <app-spinner display="overlay" *ngIf="isLoading"></app-spinner>
  <div class="cards-container">
    <mat-card *ngFor="let technology of technologies">
      <mat-card-header>
        <mat-card-title>{{ technology.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]=technology.imageUrl
           onerror="this.src='https://vtb-league.com/app/plugins/photonic/include/images/placeholder-Sm.png'" alt="technology-image"
           class="technology-img">
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="editTechnology(technology, $event)">
          EDIT
        </button>
        <button mat-stroked-button color="warn" (click)="deleteTechnology(technology, $event)" [disabled]="technology.developers.length > 0">
          DELETE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
