.technologies-container {
  width: 90%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;

  button.add-item-btn {
    align-self: flex-end;
    margin-bottom: 30px;
    position: fixed;
    bottom: 20px;
  }

  .cards-container {
    display: flex;
    //justify-content: space-between;
    flex-wrap: wrap;

    mat-card {
      width: 26%;
      text-align: center;
      cursor: pointer;
      margin-bottom: 30px;
      margin-right: 30px;
      border: 1px solid transparent;


      &:hover {
        border: 1px solid var(--primary-lighter);
        transition: ease 0.7s;
        transform: scale(1.06);
      }

      .technology-img {
        width: 150px;
        height: 140px;
      }

      mat-card-actions {
        margin: 10px 0;
      }
    }
  }
}

