.hire-a-team-container {
  width: fit-content;
  margin: 120px 0 100px 200px;
  position: relative;
  padding: 50px;

  mat-card-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  mat-card-content {
    form {
      display: flex;
      flex-direction: column;

      mat-form-field {
        width: 500px;
        margin-bottom: 20px;
      }
    }

  }
}



mat-option {
  height: 100px !important;
  width: 700px !important;

  .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;


    .developer {
      width: 60px;
      height: 52px;
      border-radius: 50%;
      margin-right: 10px;


    }
  }
}


::ng-deep .mat-tooltip {
  font-size: 15px;
  background-color: var(--accent-color) !important;
  padding: 10px !important;
  white-space: pre-line;
  font-style: italic;
}
