<mat-card class="hire-a-team-container">
  <mat-card-header>
    <mat-card-title>Select Developers</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      autocomplete="off"
      [formGroup]="formGroup"
      *ngIf="formGroup"
      (ngSubmit)="onSubmit()"
    >

      <mat-form-field appearance="fill" color="accent">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="today" formGroupName="range">
          <input matStartDate placeholder="Start date" formControlName="startDate">
          <input matEndDate placeholder="End date" formControlName="endDate">

        </mat-date-range-input>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>


      <mat-form-field appearance="fill">

        <mat-label>Developers</mat-label>
        <mat-select multiple formControlName="developers" >
          <mat-option *ngFor="let developer of filteredDevs" [value]="developer.id">
            <div class="option">
              <div>{{developer.name}}</div>

              <img
                (click)="moreDetails(developer, $event)"
                [matTooltip]="'More details about ' + developer.name + '? Click '"
                matTooltipPosition="right"
                [src]="developer.profilePic" alt="developer" class="developer"
                onerror="this.src='https://icons.iconarchive.com/icons/papirus-team/papirus-status/512/avatar-default-icon.png'">


            </div>
          </mat-option>

        </mat-select>

      </mat-form-field>
      <button mat-raised-button color="primary">Save</button>

    </form>
  </mat-card-content>
</mat-card>
