<div class="form-container">
  <div class="location-edit-heading" cdkFocusRegionstart>
    <h1 mat-dialog-title *ngIf="location.id">Edit Location</h1>
    <h1 mat-dialog-title *ngIf="!location.id">Create Location</h1>
    <button mat-icon-button color="primary" type="button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form
    *ngIf="formGroup"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
    class="location-edit-form"
  >
    <mat-dialog-content>
      <div>
        <mat-form-field>
          <mat-label>Location Name</mat-label>
          <input matInput formControlName="name" required/>
          <mat-error *ngIf="formGroup.get('name')?.errors?.required"
          >Location is required
          </mat-error
          >
          <mat-error *ngIf="formGroup.get('name')?.errors?.locationNameNotUnique"
          >This location already exists</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Location Link</mat-label>
          <input matInput formControlName="mapLink"/>
          <mat-error *ngIf="formGroup.get('mapLink')?.errors?.pattern"
          >Invalid link
          </mat-error>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" cdkFocusRegionstart>
      <button mat-raised-button color="primary">Save</button>
    </mat-dialog-actions>
  </form>
</div>
