.form-container {
  padding: 20px;

  .location-edit-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h1 {
      margin: 0;
    }
  }

  .location-edit-form {

    mat-dialog-content {
      mat-form-field {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

