<mat-card *ngIf="developer">
  <button mat-icon-button color="primary" type="button" class="back-icon" (click)="closeEditForm()" *ngIf="developer.id">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <button mat-icon-button color="primary" type="button" class="back-icon" (click)="closeCreateForm()" *ngIf="!developer.id">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title *ngIf="developer.id">Edit Developer</mat-card-title>
    <mat-card-title *ngIf="!developer.id">Create Developer</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      *ngIf="formGroup"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
      class="developer-edit-form"
    >
      <div class="developer-edit-form-container">
        <div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required/>
            <mat-error *ngIf="formGroup.get('name')?.errors?.required"
            >Developer is required
            </mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required/>
            <mat-error *ngIf="formGroup.get('email')?.errors?.required"
            >Email is required
            </mat-error>
            <mat-error *ngIf="formGroup.get('email')?.errors?.email"
            >Invalid email
            </mat-error>
            <mat-error *ngIf="formGroup.get('email')?.errors?.developerEmailNotUnique"
            >User with this email already exists
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNum" required placeholder="555-555-5555"/>
            <mat-error *ngIf="formGroup.get('phoneNum')?.errors?.required"
            >Phone number is required
            </mat-error>
            <mat-error *ngIf="formGroup.get('phoneNum')?.errors?.pattern"
            >Invalid phone number
            </mat-error>
          </mat-form-field>
        </div>
        <div class="select-fields">
          <div class="location-field">
            <mat-form-field>
              <mat-label>Choose Location</mat-label>
              <mat-select formControlName="locationId" required>
                <mat-option *ngFor="let location of locations" [value]=location.id>{{location.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('locationId')?.errors?.required"
              >Location is required
              </mat-error>
            </mat-form-field>
            <div><span *ngIf="locations?.length == 0">No created locations.</span>
              <button type="button" mat-button color="primary" (click)="createLocation()">Create new location?</button>
            </div>

          </div>
          <div class="technology-field">
            <mat-form-field>
              <mat-label>Technology</mat-label>
              <mat-select formControlName="technologyId" required>
                <mat-option [value]=technology.id
                            *ngFor="let technology of technologies">{{technology.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('technologyId')?.errors?.required"
              >Technology is required
              </mat-error>
            </mat-form-field>
            <div><span *ngIf="technologies?.length == 0">No created locations.</span>
              <button type="button" mat-button color="primary" (click)="createTechnology()">Create new technology?</button>
            </div>
          </div>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Price per Hour</mat-label>
            <input matInput formControlName="pricePerHour" required/>
            <mat-error *ngIf="formGroup.get('pricePerHour')?.errors?.required"
            >Price is required
            </mat-error>
            <mat-error *ngIf="formGroup.get('pricePerHour')?.errors?.min"
            >Invalid price
            </mat-error>
            <mat-error *ngIf="formGroup.get('pricePerHour')?.errors?.pattern"
            >Invalid price
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Years of Experience</mat-label>
            <input matInput formControlName="yearsOfExp" required/>
            <mat-error *ngIf="formGroup.get('yearsOfExp')?.errors?.required"
            >Field is required
            </mat-error>
            <mat-error *ngIf="formGroup.get('yearsOfExp')?.errors?.min"
            >Invalid years
            </mat-error>
            <mat-error *ngIf="formGroup.get('yearsOfExp')?.errors?.max"
            >Years of experience should not be greater than 50
            </mat-error>
            <mat-error *ngIf="formGroup.get('yearsOfExp')?.errors?.pattern"
            >Invalid year count
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Language</mat-label>
            <mat-select formControlName="nativeLang" required>
              <mat-option *ngFor="let language of languageTypes" [value]="language">
                {{language}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('nativeLang')?.errors?.required"
            >Phone number is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="profile-picture">
          <mat-form-field>
            <mat-label>Profile Picture</mat-label>
            <input matInput formControlName="profilePic"/>
            <mat-error *ngIf="formGroup.get('profilePic')?.errors?.min"
            >Invalid price
            </mat-error>
            <mat-error *ngIf="formGroup.get('profilePic')?.errors?.pattern"
            >Invalid image url
            </mat-error>
          </mat-form-field>
          <div class="imagePreview"
               *ngIf="formGroup.get('profilePic')?.value?.length  && !formGroup.get('profilePic')?.errors?.pattern">
            <img [src]="formGroup.get('profilePic')?.value"
                 onerror="this.src='https://www.felbazar.com/assets/images/default-product-img.png'"
                 alt="developer-preview">
          </div>
        </div>

        <mat-form-field>
          <mat-label>LinkedIn</mat-label>
          <input matInput formControlName="linkedIn"/>
          <mat-error *ngIf="formGroup.get('linkedIn')?.errors?.min"
          >Invalid url
          </mat-error>

        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Write more about yourself..." formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div class="save-btn">
        <button mat-raised-button color="primary">Save</button>

      </div>
    </form>
  </mat-card-content>

</mat-card>
