mat-card {
  width: fit-content;
  margin: 100px 0 100px 150px;
  position: relative;

  .back-icon {
    position: absolute;
    top: 30px;
    left: 20px;
  }

  mat-card-header {
    justify-content: center;
    margin: 20px 0;
  }

  mat-card-content {
    form {
      padding: 20px 20px 20px 40px;

      .developer-edit-form-container {
        display: flex;
        flex-direction: column;

        .select-fields {
          display: flex;

          button {
            padding: 0;
            margin-bottom: 20px;
          }
        }

        mat-form-field {
          margin-right: 20px;
          margin-bottom: 20px;

          textarea {
            min-height: 50px;
          }
        }

        .profile-picture {
          display: flex;
          flex-direction: column;

          .imagePreview {
            text-align: center;

            img {
              width: 160px;
            }
          }
        }
      }

      .save-btn {
        text-align: end;
      }
    }
  }

}
