.mat-spinner{
  margin: 0 auto;
  padding: 20px 0;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  z-index: 9999999;

  mat-spinner {
    margin: 0 auto;
    top: 40%;
  }
}
