:host .auth-content {
  .logo {
    text-align: center;

    img {
      width: 200px;
      height: 158px;
    }
  }

  ::ng-deep {
    .auth-container {
      margin: 0 auto;
      width: 25%;
      text-align: center;

      mat-card {
        mat-card-content {
          width: 85%;
          margin: 0 auto;

          form h1 {
            font-family: "Lato-bolditalic";
            font-size: 40px;
          }

          .form-inputs {
            display: flex;
            flex-direction: column;

            mat-form-field {
              margin-bottom: 10px;
            }

            .toggle-password-button {
              border: none;
              background-color: transparent;
            }
          }

          .submit-btn {
            width: 100%;
            text-transform: uppercase;
            margin: 20px 0;
          }

          p.terms-of-service {
            font-size: 11px;
            color: var(--primary-lighter);
          }
        }
      }

      .suggest-action {
        color: var(--primary-lighter);

        span {
          cursor: pointer;
          color: var(--accent-lighter)
        }
      }
    }
  }
}
