<div class="auth-container">
  <mat-card>
    <mat-card-content>
      <form
        autocomplete="off"
        *ngIf="formGroup"
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit()">
        <h1>Login</h1>
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              required>
            <mat-error *ngIf="formGroup.get('email')?.errors?.required">Email is required</mat-error>
            <mat-error *ngIf="formGroup.get('email')?.errors?.email">Invalid email</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
              required>
            <mat-error *ngIf="formGroup.get('password')?.errors?.required">Password is required</mat-error>
            <mat-error *ngIf="formGroup.get('password')?.errors?.minLength">Password must contain at least 8 symbols
            </mat-error>
            <mat-error *ngIf="formGroup.get('password')?.errors?.pattern"
            >Password must contain one capital, one lowercase letter, a number
              and a special symbol
            </mat-error
            >
            <mat-hint>Password must have at least 8 symbols.</mat-hint>

            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hidePassword = !hidePassword"
              class="toggle-password-button"
            >
              <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          color="accent"
          tabindex="-1"
          class="submit-btn"
        >Submit
        </button>
        <p class="terms-of-service">By submitting the form you agree to our <span>Terms of Service</span></p>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="suggest-action">
    <p>Don't have an account? <span [routerLink]="['/auth/register']" routerLinkActive="active">Signup</span></p>
  </div>
</div>
