.form-container {
  padding: 20px;

  .technology-edit-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h1 {
      margin: 0;
    }
  }

  .technology-edit-form {

    mat-dialog-content {

      mat-form-field {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    .imagePreview {
      text-align: center;

      img {
        width: 200px;
      }
    }
  }
}

