<div class="form-container">
  <div class="technology-edit-heading" cdkFocusRegionstart>
    <h1 mat-dialog-title *ngIf="technology.id">Edit Technology</h1>
    <h1 mat-dialog-title *ngIf="!technology.id">Create Technology</h1>
    <button mat-icon-button color="primary" type="button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form
    *ngIf="formGroup"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
    class="technology-edit-form"
  >
    <mat-dialog-content>
      <div>
        <mat-form-field>
          <mat-label>Technology Name</mat-label>
          <input matInput formControlName="name" required/>
          <mat-error *ngIf="formGroup.get('name')?.errors?.required"
          >Location is required
          </mat-error
          >
          <mat-error *ngIf="formGroup.get('name')?.errors?.technologyNameNotUnique"
          >This technology already exists</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Image Url</mat-label>
          <input matInput formControlName="imageUrl"/>
          <mat-error *ngIf="formGroup.get('imageUrl')?.errors?.pattern"
          >Invalid link
          </mat-error>
        </mat-form-field>
      </div>
      <div class="imagePreview" *ngIf="formGroup.get('imageUrl')?.value?.length  && !formGroup.get('imageUrl')?.errors?.pattern">
        <img [src]="formGroup.get('imageUrl')?.value" onerror="this.src='https://www.felbazar.com/assets/images/default-product-img.png'" alt="technology-preview">
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" cdkFocusRegionstart>
      <button mat-raised-button color="primary">Save</button>
    </mat-dialog-actions>
  </form>
</div>
