<div class="data-table">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="developer">
      <th mat-header-cell *matHeaderCellDef>Developer</th>
      <td mat-cell *matCellDef="let hiring"> {{hiring.developer.name}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start</th>
      <td mat-cell *matCellDef="let hiring"> {{hiring.range.startDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>End</th>
      <td mat-cell *matCellDef="let hiring"> {{hiring.range.endDate | date}} </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tr-data"></tr>
  </table>
  <mat-paginator [pageIndex]="currentPage" [pageSize]="pageSize" [length]="totalSize"
                 [pageSizeOptions]="[1, 2, 5, 10, 100]" (page)="handlePagination($event)"></mat-paginator>
</div>
