<div class="side-nav">
  <div class="nav-container">
    <img src="../../assets/images/logo.png" alt="logo">
    <div class="main-nav">
      <ul>
        <li [routerLink]="['developers']" routerLinkActive="active">
          <mat-icon matBadge={{developersCount}} matBadgeColor="primary" >people</mat-icon>
          <span>Developers</span>
        </li>
        <li [routerLink]="['locations']" routerLinkActive="active">
          <mat-icon> location_on</mat-icon>
          <span>Locations</span>
        </li>
        <li [routerLink]="['technologies']" routerLinkActive="active">
          <mat-icon>code</mat-icon>
          <span>Technologies</span>
        </li>
        <li [routerLink]="['hire-a-team']" routerLinkActive="active">
          <mat-icon>group_work</mat-icon>
          <span>Hire a Team</span>
        </li>
      </ul>
    </div>
    <div (mouseleave)="closeMenu()" class="user-info">
      <mat-card *ngIf="isOpen" class="user-menu">
        <ul>
          <li (click)="logOut()">
            <mat-icon>login</mat-icon>
            <a href="#">Sign out</a>
          </li>
          <mat-divider></mat-divider>
          <li class="theme-switcher">
            <app-theme-switcher></app-theme-switcher>
          </li>
        </ul>
      </mat-card>
      <div (mouseenter)="openMenu()">
        <button mat-mini-fab>
          <mat-icon >person</mat-icon>
        </button>
        <p>Howdy, {{loggedUser.fName}} {{loggedUser.lName}}!</p>
      </div>

    </div>
  </div>
</div>
<div class="main-content">

  <button mat-raised-button color="primary" class="view-hired-devs" (click)="openHirings()">Hired Developers</button>
  <router-outlet></router-outlet>
</div>

