.side-nav {
  padding: 10px;
  background-color: #303456;
  width: fit-content;
  height: 100%;
  align-items: flex-start;
  position: fixed;


  .nav-container {
    img {
      width: 202px;
      height: 170px;
    }

    .main-nav {
      ul {
        list-style: none;
        padding: 0;
        color: var(--primary-text);

        li {
          margin: 20px 0;
          padding: 15px;
          font-family: "Lato-bolditalic";
          display: flex;
          align-items: center;

          &:hover {
            background-color: var(--accent-color);
            cursor: pointer;
          }
          &.active {
            background-color: var(--accent-color);
            border-left: 4px solid var(--accent-lighter);
          }


          mat-icon {
            margin-right: 14px;
          }
        }
      }
    }
  }

  .user-info {
    color: var(--primary-text);
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Lato-bolditalic';
    position: absolute;
    bottom: 30px;
    div {
      cursor: pointer;
      display: flex;
      align-items: center;


      button {
        margin-right: 10px;
      }
    }
    .user-menu {
      margin-bottom: 10px;
      background-color: var(--accent-color);
      z-index: 250;
      animation: menuIntro 0.4s ease-in-out;
      cursor: pointer;
      color: var(--primary-text);
      ul {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          &.theme-switcher {
            margin: 20px 0 0;
          }

          a {
            text-decoration: none;
            color: var(--primary-text);
            margin-left: 10px;

          }
        }
      }
    }
  }
}

.main-content {
  float: right;
  width: calc(100% - 350px);

  button.view-hired-devs {
    margin-top: 40px;
    position: absolute;
    right: 120px;
    padding: 5px 20px;
  }
}

@keyframes menuIntro {
  0% {
    opacity: 0;
    transform: translateY(20px) rotateY(30deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) rotateY(0deg);
  }
}
