<div class="details-container" cdkFocusRegionstart *ngIf="developer">

  <mat-card class="main-card">
    <img mat-card-image [src]=developer.profilePic
         onerror="this.src='https://icons.iconarchive.com/icons/papirus-team/papirus-status/512/avatar-default-icon.png'"
    >
    <mat-card-content>
      <h2 class="dev-name">{{developer.name}}</h2>
      <h3 class="dev-technology">{{developer.technology?.name}}</h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="editDeveloper(developer)">
        EDIT
      </button>
      <button mat-stroked-button color="warn" (click)="deleteDeveloper(developer, $event)"
              [disabled]="developer.hirings.length>0">
        DELETE
      </button>
      <button mat-stroked-button color="accent" (click)="hireDeveloper(developer)">
        HIRE
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="details-card">
    <mat-card-header>
      <mat-card-title>Developer Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="detail email">
        <span>Email</span>
        <div>{{developer.email}}</div>
      </div>
      <div class="detail linkedin">
        <span>Linkedin</span>
        <div><a href="{{developer.linkedIn}}" target="_blank">{{developer.linkedIn}}</a></div>
      </div>
      <div class="detail">
        <span>Phone</span>
        <div>{{developer.phoneNum}}</div>
      </div>
      <div class="more-info">
        <div>
          <div class="detail">
            <span>Location</span>
            <div>{{developer.location?.name}}</div>
          </div>
          <div class="detail">
            <span>Native Language</span>
            <div>
              {{developer.nativeLang}}
            </div>
          </div>
        </div>
        <div class="" professional>
          <div class="detail">
            <span>Price per Hour</span>
            <div>{{developer.pricePerHour}}</div>
          </div>
          <div class="detail">
            <span>Years of Experience</span>
            <div> {{developer.yearsOfExp}}</div>
          </div>
        </div>
      </div>
      <div class="detail description">
        <span>Description</span>
        <div>{{developer.description}}</div>
      </div>
    </mat-card-content>

  </mat-card>
</div>
