.details-container {
  display: flex;
  width: 90%;
  margin-top: 100px;
  justify-content: space-between;

  mat-card {
    cursor: pointer;


    &.main-card {
      width: 30%;
      text-align: center;
      padding: 45px 10px;
      height: fit-content;

      img {
        width: 250px;
        border-radius: 50%
      }

      mat-card-content {
        .dev-technology {
          color: var(--primary-color);
        }
      }

      mat-card-actions button:hover{
        transition: ease 0.7s;
        transform: scale(1.06);
      }
    }

    &.details-card {
      width: 58%;
      padding: 35px 25px;

      mat-card-content {
        padding: 20px;

        .detail {
          margin-bottom: 16px;
          font-size: 16px;

          div {
            font-style: italic;
            margin-top: 5px;
          }

          &.email div {
            color: var(--primary-color);
          }

          &.linkedin div a {
            text-decoration: none;
            color: var(--primary-color);
          }

        }
        .more-info {
          display: flex;
          justify-content: space-between;
        }
      }

      .description {
        margin-top: 20px;
        margin-bottom: 0;
      }
    }
  }
}
