mat-dialog-content {
  text-align: center;
  position: relative;

  .info-container {
    .image img {
      width: 200px;
    }

    span {
      color: var(--primary-color);
      font-style: italic;
      margin-right: 8px;
    }
  }

  .close-form-btn {
    position: absolute;
    right: 20px;
  }
}
