
<mat-dialog-content>
  <button mat-icon-button color="primary" class="close-form-btn" type="button"  (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-header>

    <h2>Details</h2>
  </mat-card-header>

  <div>

    <div class="info-container">
      <div class="image">
        <img [src]=developer.profilePic onerror="this.src='https://icons.iconarchive.com/icons/papirus-team/papirus-status/512/avatar-default-icon.png'">
      </div>
      <h3>{{developer.name}}</h3>
      <div><span>Technology: </span>{{developer.technology.name}}</div>
      <div><span>Email: </span>{{developer.email}}</div>

      <div><span>Location: </span> {{developer.location.name}}</div>
      <div><span>Native Language:</span> {{developer.nativeLang}}</div>
      <div><span>Price per Hour: </span> {{developer.pricePerHour}}</div>
      <div><span>Experience: </span> {{developer.yearsOfExp}}</div>
    </div>
  </div>
</mat-dialog-content>
