<div class="data-table">
  <button mat-fab (click)="addLocation()" class="add-item-btn" matTooltip="Add New Location">
    <mat-icon>add</mat-icon>
  </button>
  <app-spinner display="overlay" *ngIf="isLoading"></app-spinner>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> №</th>
      <td mat-cell *matCellDef="let location; let i = index;"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let location"> {{location.name}} </td>
    </ng-container>

    <ng-container matColumnDef="mapLink">
      <th mat-header-cell *matHeaderCellDef> Google Map Link</th>
      <td mat-cell *matCellDef="let location"><a href="{{location.mapLink}}" target="_blank">{{location.mapLink}} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions-header"> Actions</th>
      <td mat-cell *matCellDef="let location" class="actions">
        <section>
          <div>
            <button mat-icon-button (click)="editLocation(location, $event)">
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteLocation(location, $event)"
                    [disabled]="location.developers.length > 0">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>
        </section>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tr-data"></tr>
  </table>
  <mat-paginator [pageIndex]="currentPage" [pageSize]="pageSize" [length]="totalSize"
                 [pageSizeOptions]="[1, 2, 5, 10, 100]" (page)="handlePagination($event)"></mat-paginator>
</div>
