.data-table {
  margin-top: 120px;
  width: 90%;
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 30px;
    align-self: flex-end;
  }

  button.add-item-btn {
    position: fixed;
    bottom: 20px;
  }

  table {
    width: 100%;

    tr.mat-row, tr.mat-footer-row {
      height: 65px;
    }

    tr {
      a {
        color: var(--primary-color);
      }

      .actions-header {
        text-align: center;
      }

      .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;

        button {
          margin-bottom: 0;
        }
      }
    }


    tr.tr-data:hover {
      cursor: pointer;
      background-color: var(--primary-background);
    }

  }


}
