<div class="form-container">
  <h2>Hire {{developer.name}}</h2>
  <form
    *ngIf="formGroup"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input formGroupName="range" [rangePicker]="picker" [min]="today"  [dateFilter]="rangeFilter">
          <input matStartDate formControlName="startDate" placeholder="Start date">
          <input matEndDate formControlName="endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-error *ngIf="formGroup.get('range')?.errors?.theseDatesNotAvailable">These user is unavailable in this date range</mat-error>
    </mat-dialog-content>
    <mat-dialog-actions align="end" cdkFocusRegionstart>
      <button mat-raised-button color="primary">Save</button>
    </mat-dialog-actions>
  </form>

</div>
