<div class="delete-dialog-container">
  <div class="cancel-icon">
    <mat-icon [inline]="true" color="warn">cancel</mat-icon>
  </div>
  <p mat-dialog-title>Are you sure you want to delete technology "{{technology.name}}"?</p>
  <mat-dialog-actions align="end" cdkFocusRegionstart>
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
    <button mat-stroked-button color="warn" (click)="onConfirmDelete(technology)">Yes</button>
  </mat-dialog-actions>
</div>
