@use '~@angular/material' as mat;
//@import "~@angular/material/theming";
@import "./typography.scss";

@include mat.core($custom-typography);

$light-theme-primary: mat.define-palette(mat.$indigo-palette);
$light-theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$light-theme-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
  color: (
    primary: $light-theme-primary,
    accent: $light-theme-accent,
    warn: $light-theme-warn,
  )
));

$dark-theme-primary: mat.define-palette(mat.$indigo-palette);
$dark-theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$dark-theme-warn: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-theme-primary,
    accent: $dark-theme-accent,
    warn: $dark-theme-warn,
  )
));


.light-theme {
  $background-color: rgb(251, 251, 251);

  $background: map-get($light-theme, background);
  $background: map_merge(
      $background,
      (
        background: $background-color,
      )
  );
  $custom-theme: map_merge(
      $light-theme,
      (
        background: $background,
      )
  );
  --primary-background: #{map-get($light-theme-primary, 50)};
  --primary-color: #{map-get($light-theme-primary, default)};
  --primary-lighter: #{map-get($light-theme-primary, lighter)};
  --primary-darker: #{map-get($light-theme-primary, darker)};
  --primary-text: #{map-get($light-theme-primary, darker-contrast)};

  --accent-background: #{map-get($light-theme-accent, 50)};
  --accent-color: #{map-get($light-theme-accent, default)};
  --accent-lighter: #{map-get($light-theme-accent, lighter)};
  --accent-darker: #{map-get($light-theme-accent, darker)};

  --warn-color: #{map-get($light-theme-warn, default)};
  --warn-lighter: #{map-get($light-theme-warn, lighter)};
  --warn-darker: #{map-get($light-theme-warn, darker)};

  @include mat.all-component-themes($light-theme);
  @include mat.strong-focus-indicators-theme($light-theme);
  background-color: $background-color;
}

.dark-theme {
  $background-color: #343434;

  $background: map-get($dark-theme, background);
  $background: map_merge(
      $background,
      (
        background: $background-color,
      )
  );
  $dark-theme: map_merge(
      $dark-theme,
      (
        background: $background,
      )
  );
  --primary-background: #{map-get($dark-theme-primary, 300)};
  --primary-color: #{map-get($dark-theme-primary, default)};
  --primary-lighter: #{map-get($dark-theme-primary, lighter)};
  --primary-darker: #{map-get($dark-theme-primary, darker)};
  --primary-text: #{map-get($dark-theme-primary, darker-contrast)};

  --accent-background: #{map-get($dark-theme-accent, 50)};
  --accent-color: #{map-get($dark-theme-accent, default)};
  --accent-lighter: #{map-get($dark-theme-accent, lighter)};
  --accent-darker: #{map-get($dark-theme-accent, darker)};

  --warn-color: #{map-get($dark-theme-warn, default)};
  --warn-lighter: #{map-get($dark-theme-warn, lighter)};
  --warn-darker: #{map-get($dark-theme-warn, darker)};

  @include mat.all-component-themes($dark-theme);
  @include mat.strong-focus-indicators-theme($dark-theme);
  background-color: $background-color;
}
