/* You can add global styles to this file, and also import other style files */
@import "./custom-theme.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lato-regular"
}

.auth-background {
  background-image: url("./assets/images/auth-background.jpg");
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: color;
  backdrop-filter: blur(5px);
}
