@use '~@angular/material' as mat;

$custom-typography: mat.define-typography-config(
  $font-family: "Lato-regular",
);

@font-face {
  src: url(./assets/fonts/Lato/Lato-Light.ttf) format("truetype");
  font-family: "Lato-light";
}

@font-face {
  src: url(./assets/fonts/Lato/Lato-LightItalic.ttf) format("truetype");
  font-family: "Lato-lightitalic";
}

@font-face {
  src: url(./assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
  font-family: "Lato-regular";
}

@font-face {
  src: url(./assets/fonts/Lato/Lato-BoldItalic.ttf) format("truetype");
  font-family: "Lato-bolditalic";
}

//@include mat.core($custom-typography);
