.developers-container {
  width: 90%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 30px;
    align-self: flex-end;
  }

  button.add-item-btn {
    position: fixed;
    bottom: 20px;
  }
  mat-card {
    min-height: 80px;
    margin-bottom: 10px!important;
  }

  mat-card.developer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    cursor: pointer;

    .developer-info {
      display: flex;
      align-items: center;

      .developer-image img {
        width: 80px;
        border-radius: 50%;
      }

      .developer-main {
        display: flex;
        flex-direction: column;
        margin-left: 30px;

        .name {
          font-size: 20px;
        }

        .technology {
          color: var(--primary-color);
          font-size: 15px;
        }
      }
    }

    .more-icon {
      border: 1px solid var(--accent-darker);
      border-radius: 3px;
      padding: 3px 6px;
      color: var(--accent-darker);
      cursor: pointer;
    }
  }
}



