<div class="developers-container">
  <button mat-fab (click)="addDeveloper()" class="add-item-btn" matTooltip="Add New Developer">
    <mat-icon>add</mat-icon>
  </button>
  <mat-card *ngFor="let developer of developers " class="developer" (click)="openDetails(developer)">
    <div class="developer-info">
      <div class="developer-image">
        <img [src]=developer.profilePic
             onerror="this.src='https://icons.iconarchive.com/icons/papirus-team/papirus-status/512/avatar-default-icon.png'"
             alt="developer-profile-pic">
      </div>
      <div class="developer-main">
        <div class="name">{{developer.name}}</div>
        <div class="technology">{{developer.technology.name}}</div>
      </div>
    </div>
    <mat-icon class="more-icon">keyboard_arrow_right</mat-icon>
  </mat-card>
</div>
<app-spinner display="overlay" *ngIf="isLoading"></app-spinner>

